# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/react.code-snippets.json
.idea

/build
/.react-router/

docker-compose.yml